<article class="container">
        <h1 class="title">Formulario de Productos</h1>
        <div class="line"></div>
        <form action="" method="POST">
            <label for="titulo">Titulo:
            <input type="text" name="titulo"></label>
            <label for="precio">Precio:
            <input type="number" name="precio"></label>
            <label for="url">URL:
            <input type="text" name="url"></label>
            <button id="sendBtn">Enviar</button>
        </form>
    </article>