{{>navbar}}
<div class="container">
    <div class="error">
        <h2 class="errorTitle">Error 404 - Página no existe</h2>
        <p class="errorText">La página que buscas no existe </p>
        <button class="errorBtn">De vuelta a casa</button>
    </div>
</div>