<article class="card">
    <img class="cardImg" src="{{url}}" alt="Product image">
    <section class="cardBody">
        <h3 class="cardTitle">{{titulo}}</h3>
        <h6 class="cardPrice">{{precio}}</h6>
        <button class="btnAdd">Agregar a carrito</button>
    </section>
</article>