  <article id="chat" class="container">
    <h1 class="title">Contacto:</h1>
    <div class="line"></div>
    <form class="chatForm">
      <div class="areaMsg">
        <label for="email">
          Correo:
          <input type="email" id="inputEmail" />
        </label>
        <label for="mensaje">
          Mensaje:
          <textarea name="mensaje" id="contenidoMensaje" rows="1"></textarea>
        </label>
         <button id="chatBtn" type="button">Enviar Mensaje</button>
      </div>
      <div id="chatMessages">
        {{!-- Aqui van los mensajes --}}
      </div>
    </form>
  </article>
</div>