 <article class="container" id="form">
    <h1 class="title">Formulario de Productos</h1>
    <div class="line"></div>
    <form action="" method="">
      <label for="titulo">Titulo:
        <input type="text" name="titulo" id="titleInput" /></label>
      <label for="precio">Precio:
        <input type="number" name="precio" id="priceInput" /></label>
      <label for="url">URL:
        <input type="text" name="url" id="urlInput" /></label>
      <button id="sendBtn" type="button">Enviar</button>
    </form>
  </article>