<article class="container" id="table">
    <h1 class="title">Productos</h1>
    <div class="line"></div>
    <table>
      <tr>
        <th>ID</th>
        <th>Titulo</th>
        <th>Precio</th>
        <th>Imagen</th>
      </tr>
      <tbody id="productTable"></tbody>
      {{#if productos}}
        

      {{else}}
        <tr>
          <td colspan="4">No hay Productos</td>
        </tr>
      {{/if}}

    </table>
  </article>